<h3>Detalles de la fruta</h3>
<div>
    <div>
        <label><b>ID: </b> {{fruit.id}}</label>
    </div>
    <div>
        <label><b>Name: </b> {{fruit.name}}</label>
    </div>
    <div>
        <label><b>Genus: </b> {{fruit.genus}}</label>
    </div>
    <div>
        <label><b>Family: </b> {{fruit.family}}</label>
    </div>
    <div>
        <label><b>Order: </b> {{fruit.order}}</label>
    </div>
    <div>
        <label><b>Nutritions: </b> {{fruit.nutritions | json}}</label>
    </div>
</div>
